<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

        <link href="../styles/lib/milligram.min.css" rel="stylesheet" />
        <link href="../styles/user.css" rel="stylesheet" />
		
		<script src="../scripts/lib/jquery.min.js"></script>
		<script src="../scripts/lib/vue.min.js"></script>
        <script src="../scripts/lib/markdown.js"></script>
		<script src="../scripts/user.js"></script>
	</head>
    <body>
        <div id="titlebar">
            <h4><%= title %><span class="twinkle">|</span></h4>
        </div>
        <div id="mainContainer">
            <p>TODO: show user[id={{id}}]'s data here.</p>
        <div>
        <div class="container">
            <div class="row">
                <div class="column column-20">
                    <ul>
                        <li><a>menu1</a></li>
                        <li><a>menu2</a>
                            <ul>
                                <li><a>menu2.1</a></li>
                                <li><a>menu2.2</a>
                                    <ul>
                                        <li><a>menu2.2.1</a></li>
                                        <li><a>menu2.2.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a>menu3</a></li>
                    </ul>
                </div>
                <div class="column column-80">
                    <div id="mdcontent"></div>
                    <button>OK</button>
                </div>
            </div>
        </div>
	</body>
</html>
